body{
    background-color: lightgrey;
}
.container{
    display: flex;
    flex-direction: row;
}
 .startingscreen{
    width:  550px;
    height: 400px;
    margin: auto;
    background: #1D1D23;
    margin: 20px;
}
.multiplealarmset{
    width:  550px;
    height: 400px;
    margin: auto;
    background: #1D1D23;
    margin: 20px;
}
.alarmisover{
    width:  550px;
    height: 400px;
    margin: auto;
    background: #1D1D23;
    margin: 20px;
}
.head{
    width: 150px;
height: 12px;
padding-top: 25px;
padding-left: 30%;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}
.block{
    width: 300px;
height: 50px;
margin: 25px;
margin-left: 50px;
border-radius: 10px;
background-color: #42424b;
display: flex;
flex-direction: row;
}
.set{
    width: 50px;
height: 10px;
margin-top: 20px;
margin-left: 15px;
font-family: Roboto;
font-size: 10px;
font-weight: 500;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.time{
    width: 80px;
height: 18px;
margin-top: 20px;
margin-left: 35px;
font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}
.tim{
    width: 25px;
height: 18px;
margin-top: 17px;
margin-left: 25px;
font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0em;
text-align: center;
color:black;

}
.bttn{
    width: 40px;
height: 20px;
margin-top: 16px;
margin-left: 25bpx;
border-radius: 20px;
background-color: yellow;
}
.btn{
    width: 40px;
height: 20px;
margin-top: 16px;
margin-left: 55px;
border-radius: 20px;
background-color: yellow;
}

.current{
    width: 150px;
height: 22px;
margin-top: 20px;
margin-left: 125px;
background-color: #42424b ;
border-radius: 10px;
}
.timeblock{
    width: 65px;
height: 15px;
margin-top: 25px;
margin-left: 40px;
font-family: Roboto;
font-size: 10px;
font-weight: 400;
line-height: 8px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
padding: 5px;
}
.last{
    width: 190px;
height: 16px;
margin-top: 25px;
margin-left: 95px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}
.timer{
    width: 300px;
    height: 50px;
    margin: 25px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    color: black;
}
.up{
    width: 100px;
height: 35px;
margin-top: 5px;
margin-left: 40px;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
color: #34344A;
}
.stop{
    width: 40px;
height: 20px;
margin-top: 16px;
margin-left: 85px;
border-radius: 10px;
background-color:#42424b;
color:#FFFFFF;
}